<app-navbar></app-navbar>
<table class="table">
    <thead>
        <tr>
            <th>SID</th>
            <th>Company Name</th>
            <th>Job Position</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Postal Code</th>
            <th>Region</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let lead of leads">
            <td>{{lead.leadContact.id}}</td>
            <td>{{ lead.leadContact.companyName }}</td>
            <td>{{ lead.leadContact.jobPosition }}</td>
            <td>{{ lead.leadContact.address }}</td>
            <td>{{ lead.leadContact.city }}</td>
            <td>{{ lead.leadContact.state }}</td>
            <td>{{ lead.leadContact.postalCode }}</td>
            <td>{{ lead.leadContact.region }}</td>
        </tr>
    </tbody>
</table>