.row.d-flex {
    /* overflow-x: scroll; */
    white-space: nowrap;
}

.col-4 {
    flex: 0 0 auto;
}

.card {
    margin-right: 15px;
}

/* lead-card.component.css */
.lead-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: box-shadow 0.2s;
}

.lead-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.lead-body {
    margin-top: 10px;
}

.lead-body p {
    margin: 5px 0;
}

.lead-body p strong {
    font-weight: bold;
}


.search {
    /* position: relative; */
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    z-index: -1;
}

.search input {
    height: 60px;
    text-indent: 25px;
    /* border: 2px solid #d6d4d4; */
}


.search input:focus {
    box-shadow: none;
    border: 2px solid blue;
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px;
}

.search button {
    /* position: absolute; */
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    /* background: blue; */
}

.star-gold {
    color: gold;
}

.content {
    margin-top: 100px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
}

.search-bar input {
    padding: 5px;
    margin-right: 10px;
}

.search-results {
    margin-top: 10px;
}

.search-results ul {
    list-style-type: none;
    padding: 0;
}

.search-results li {
    margin: 5px 0;
}

.search {
    /* background-color: #f4f4f4; */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f4f4f4;
}

.search-bar::placeholder {
    color: #999;
}

button {
    background-color: #6CB4EE;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6699CC;
}

.lead-card:hover {
    background-color: #f0f0f0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
    transition: all 0.3s;
    cursor: pointer;
}

.lead-card:hover .badge {
    background-color: #ff9900;
    color: #fff;
}